.git/
.github/
.vscode/
docs/
infrastructure/
node_modules/
tmp/
*.md
.dockerignore
.editorconfig
.eslintrc.json
.firebaserc
.gitignore
.nvmrc
.prettierignore
.prettierrc
babel.config.json
Dockerfile
firebase.json
jest.config.ts
jest.preset.json
npm-debug.log
