name: 'Affected Projects'
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout branch'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Use Node 18'
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 'Set up Nx'
        uses: nrwl/nx-set-shas@v3
      - name: 'Install dependencies'
        run: 'npm ci'
      - name: 'Build projects'
        run: 'npx nx affected --target=build'
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout branch'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Use Node 18'
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 'Set up Nx'
        uses: nrwl/nx-set-shas@v3
      - name: 'Install dependencies'
        run: 'npm ci'
      - name: 'Build projects'
        run: 'npx nx affected --target=lint'
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout branch'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Use Node 18'
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 'Set up Nx'
        uses: nrwl/nx-set-shas@v3
      - name: 'Install dependencies'
        run: 'npm ci'
      - name: 'Build projects'
        run: 'npx nx affected --target=test --ci --code-coverage'
